{% extends "base.html" %} "
{% load static %}
{% block title %} {{id}} {% endblock %}
{% block list %} BIST100 {% endblock %}
{% block content %}


    <section class="section dashboard">
        {% comment %} cardlar {% endcomment %}
      <div class="row">
      {% for card in cardData %}
          {% include 'finance/partials/Cards.html' %}
      {% endfor %}
      {% for gold in goldData %}
          {% include "finance/partials/GoldCards.html" %}
      {% endfor %}
      {% for bist in bistData %}
          {% include "finance/partials/BISTCards.html" %}
      {% endfor %}
      </div>
    </section>
    <div class="row">
        {% include "finance/partials/GrafikBIST.html" %}
        <div class="col-md-2">
            <div class="card info-card sales-card">
                <div class="card-body">
                    <h5 class="card-title">Anlık Fiyat</h5>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="ri ri-bank-line"></i>
                        </div>
                        <div class="ps-3">
                        <h6>{{selectedData.BISTSellPrice}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     <div class="col-md-2">
            <div class="card info-card sales-card">
                <div class="card-body">
                    <h5 class="card-title">Açılış</h5>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="ri ri-bank-line"></i>
                        </div>
                        <div class="ps-3">
                        <h6>{{selectedData.BISTOpen}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     <div class="col-md-2">
            <div class="card info-card sales-card">
                <div class="card-body">
                    <h5 class="card-title">Kapanış</h5>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="ri ri-bank-line"></i>
                        </div>
                        <div class="ps-3">
                        <h6>{{selectedData.BISTClose}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}