<div class="col-xxl-3 col-md-6">
  <a class="nav-link" href="{% url "bist" bist.BISTName %}">
    <div class="card info-card sales-card">
      <div class="card-body">
        <h5 class="card-title">{{ bist.BISTName }}</h5>
        <div class="d-flex align-items-center">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <i class="ri ri-bank-line"></i>
          </div>
          <div class="ps-3">
            <h6>{{ bist.BISTSellPrice }}</h6>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>