<div class="col-md-6">

    <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ selectedData.HisseName }}</h5>
  


          <!-- Area Chart -->
          <div id="areaChart"></div>
  
          <script>
            document.addEventListener("DOMContentLoaded", () => {
              const series = {
                "monthDataSeries1": {
                  "prices": [
                      35.12,
                      34.67,
                      33.89,
                      36.45,
                      33.25,
                      35.76,
                      36.21,
                      34.92,
                      36.88,
                      34.56,
                      36.78,
                      32.91,
                      33.55,
                      35.98,
                      33.77,
                      36.05,
                      32.35,
                      34.23,
                      35.44,
                      36.02,
                      33.11,
                      34.76,
                      35.69,
                      33.99
                  ],
                  "dates": [
                      "06 May 2024 00:00",
                      "06 May 2024 01:00",
                      "06 May 2024 02:00",
                      "06 May 2024 03:00",
                      "06 May 2024 04:00",
                      "06 May 2024 05:00",
                      "06 May 2024 06:00",
                      "06 May 2024 07:00",
                      "06 May 2024 08:00",
                      "06 May 2024 09:00",
                      "06 May 2024 10:00",
                      "06 May 2024 11:00",
                      "06 May 2024 12:00",
                      "06 May 2024 13:00",
                      "06 May 2024 14:00",
                      "06 May 2024 15:00",
                      "06 May 2024 16:00",
                      "06 May 2024 17:00",
                      "06 May 2024 18:00",
                      "06 May 2024 19:00",
                      "06 May 2024 20:00",
                      "06 May 2024 21:00",
                      "06 May 2024 22:00",
                      "06 May 2024 23:00"
                  ]
                }
              }
              new ApexCharts(document.querySelector("#areaChart"), {
                series: [{
                  name: "{{ selectedData.HisseName }}",
                  data: series.monthDataSeries1.prices
                }],
                chart: {
                  type: 'area',
                  height: 350,
                  zoom: {
                    enabled: false
                  }
                },
                dataLabels: {
                  enabled: false
                },
                stroke: {
                  curve: 'straight'
                },
                subtitle: {
                  text: 'Price Movements',
                  align: 'left'
                },
                labels: series.monthDataSeries1.dates,
                xaxis: {
                  type: 'datetime',
                },
                yaxis: {
                  opposite: true
                },
                legend: {
                  horizontalAlign: 'left'
                }
              }).render();
            });
          </script>
          <!-- End Area Chart -->
        </div>
      </div>
</div>